body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9aa4ff;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #d5d9ff, #9aa4ff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button:hover {
    background-color: #45a049;
}
